<web-app>
    <servlet>
        <servlet-name>MyFrontServlet</servlet-name>
        <servlet-class>com.monsite.servlet.MyFrontServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MyFrontServlet</servlet-name>
        <url-pattern>*</url-pattern>
    </servlet-mapping>
</web-app>
